body {
    background-color: #b5fda7f6;
    text-align: center;
    margin: 10%;
}

.cardDeck {
    display: flex;
    flex: wrap;
    justify-content: space-around;
}

.mainButton {
    margin: 5%;
}